@font-face {
  font-family: 'isw';
  src:url('../fonts/IRANSansWeb.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'isw-b';
  src:url('../fonts/IRANSansWeb_Bold.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'isw-l';
  src:url('../fonts/IRANSansWeb_Light.woff'),
  url('../fonts/IRANSansWeb_Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'isw-m';
  src:url('../fonts/IRANSansWeb_Medium.woff'),
  url('../fonts/IRANSansWeb_Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'isw-u';
  src:url('../fonts/IRANSansWeb_UltraLight.woff'),
  url('../fonts/IRANSansWeb_UltraLight.woff');
  font-weight: normal;
  font-style: normal;
}
body{
    background: #333;
    color: #fff;
}
*, *::after, *::before {
    font-family: 'isw';
  box-sizing: border-box;
  font-size: 15px;
}
.test{
    font-size: 20px;
    color: darksalmon;
}
.datepicker{
    position: absolute;
    border: 1px solid palevioletred;
    background: rgba(255,255,255,0.1);
}
.block-side{
    position: relative;
    float: left;
    height: 100%;
    display: inline-block;
    background: rgba(255,255,255,0.1);
    padding:10px;
}
.block-main{
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,0.1)
}
.mounth{
    position: relative;
    padding: 4%;
    margin: 10px;

    background: rgba(255,255,255,0.1)
}
.name-of-week{
    width: 13%;
    text-align: center;
    position: relative;
    display: inline-block;
    color: rgba(255,255,255,0.4);
    overflow:hidden;
}
.day-of-mounth{
    width: 13%;
    text-align: center;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.0);
    border-radius: 2px;
    padding: 3px;

    color: palegoldenrod;
    overflow:hidden;
}
.sperat-week{
    width: 100%;
}
.piker-pickedyear{
    font-size: 20px;
}
.piker-pickedday{
    font-size: 35px;
}
.piker-pickeddate{
    display: inline-block;
    font-size: 20px;
}
.piker-pickedmonth{
    display: inline-block;
    font-size: 20px;
}
.picker_nowdate{
    font-size: 20px;
    color: antiquewhite;
    padding: 30px;
}